---
import { Astronav, MenuItems, MenuIcon } from 'astro-navbar';
import { Image } from 'astro:assets';
import { t } from 'i18next';

import Container from '@components/layout/Container.astro';
import Dropdown from '@components/navbar/dropdown.astro';
import logoImage from 'assets/logo.svg';
import Lang from './Lang.astro';

const root = '/';

const menuitems: any[] = [
	{
		title: t('$.page.home'),
		path: '/#about',
	},
	{
		title: t('$.page.wine'),
		path: '/#wine',
	},
	{
		title: t('$.page.taste'),
		path: '/#taste',
	},
	{
		title: t('$.page.gallery'),
		path: '/gallery',
	},
	{
		title: t('$.page.contact'),
		path: '/#contact',
	},
];
---

<Container>
	<header class='flex flex-col lg:flex-row justify-between items-center my-1'>
		<Astronav>
			<div class='flex w-full lg:w-auto items-center justify-between'>
				<a href={root}>
					<Image src={logoImage} alt='Zajeci logo' width='100' />
				</a>
				<div class='flex'>
					<MenuIcon class='block lg:hidden w-8 h-8 text-gray-800' />
					<Lang class='block lg:hidden ms-4' />
				</div>
			</div>
			<MenuItems class='hidden w-full lg:w-auto mt-2 lg:flex lg:mt-0'>
				<ul class='flex flex-col lg:flex-row lg:gap-3'>
					{
						menuitems.map((item, index) => (
							<>
								{item.children && (
									<Dropdown
										title={item.title}
										children={item.children}
										lastItem={index === menuitems.length - 1}
									/>
								)}

								{!item.children && (
									<li>
										<a
											href={item.path}
											class='flex lg:px-2 py-2 items-center text-primary hover\:text-primary:hover'
										>
											<span> {item.title}</span>
											{item.badge && (
												<span class='ml-1 px-2 py-0.5 text-[10px] animate-pulse font-semibold uppercase text-white bg-indigo-600 rounded-full'>
													New
												</span>
											)}
										</a>
									</li>
								)}
							</>
						))
					}
				</ul>
			</MenuItems>
			<Lang class='hidden lg:block' />
		</Astronav>
	</header>
</Container>
